* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html,
body {
  overflow: hidden;
  max-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #fff8e7;
}

h1 {
  z-index: 100;
  font-size: 8vw;
  color: #666d40;
  background-color: transparent;
}

h2 {
  z-index: 100;
  font-size: 10vw;
  font-weight: 900;
  color: #4d5432;
  background-color: transparent;
}
